<app-navbar></app-navbar>
<div class="post-container">
    <h1>{{ h1 }}</h1>
    <form action="" class="post-container__form">
        <div class="form-item">
            <label for="title">Title for message</label>
            <input type="text" [(ngModel)]="title" name="title" placeholder="Your post title">
        </div>
        <div class="form-item">
            <label for="message"> Messages</label>
            <textarea id="story" [(ngModel)]="message" name="message" rows="8" cols="33" placeholder="Create message for share with your friends."></textarea>
        </div>
        <button class="button-customized" type="submit">SHARE</button>
    </form>
    <app-card [title]=title [message]=message></app-card>
</div>