<app-navbar></app-navbar>
<div class="post-container">
    <h1>{{ title}}</h1>
    <form action="" class="post-container__form">
        <div class="form-item">
            <label for="title">Title for message</label>
            <input type="text" placeholder="Your post title">
        </div>
        <div class="form-item">
            <label for="message"> Messages</label>
            <textarea id="story" name="story" rows="8" cols="33" placeholder="Create message for share with your friends."></textarea>
        </div>
        <button class="button-customized" type="submit">SHARE</button>
    </form>
    <app-card></app-card>
</div>