<div class="card">
    <div class="card__title">
        <h3 *ngIf="title; else titleDefault">{{ title}}</h3>
        <ng-template #titleDefault>
            <h3>Your post title</h3>
        </ng-template>
    </div>
    <div class=" card__message ">
        <span *ngIf="message;else messageDefault">{{ message }}</span>
        <ng-template #messageDefault>
            <h3>Create message for share with your friends.</h3>
        </ng-template>
        <div class=" card__items ">
            <div class="card__date ">
                10:25 am 20/11/23
            </div>
            <div class="card__autor ">
                Bairon Bernal
            </div>
        </div>
    </div>
</div>