<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <p>Nombre:
        <input type="text" formControlName="name" required>
        <span *ngIf="formSubmitted && this.registerForm.get('name')?.errors?.['required']">
          (El name no puede quedar vacío)
        </span>
        <span *ngIf="formSubmitted && this.registerForm.get('name')?.errors?.['minlength']">
          (Debe tener como mínimo 10 caracteres)
        </span>
    </p>
    <p>email:
        <input type="text" formControlName="email">
        <span *ngIf="formSubmitted && this.registerForm.get('email')?.errors?.['required']">
        (El email no puede quedar vacío)
      </span>
        <span *ngIf="formSubmitted && this.registerForm.get('email')?.errors?.['eemail']">
        (El email no es válido)
      </span>
    </p>
    <p>Contraseña<br>
        <input type="password" formControlName="password" />
    </p>
    <p>Confirmar contraseña<br>
        <input type="confirm_password" formControlName="confirm_password" />
    </p>
    <div *ngIf="formSubmitted && this.registerForm.get('password') ?.errors?.['required']">
        (El password no puede quedar vacío)
    </div>
    <div *ngIf="formSubmitted && this.registerForm.get('password')?.errors?.['maxlength']">
        (Debe tener como máximo 500 caracteres)
    </div>
    <button type="submit">Confirmar</button>
</form>