/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
    background: #9B8ADB;
    font-family: 'Lato';
}

.main-container {
    margin: 0 auto;
}