<div class="navbar">
    <div class="navbar__logo">
        <img src="/assets/logos/logo-black.png" alt="easy media logo" height="27px" width="28px">
        <span class="navbar__easy-name">Easy Media</span>
    </div>

    <div class="navbar__icon-align" (click)="slide()">
        <img *ngIf="!navbarList; else slidded" src="/assets/icons/align-justify.svg" alt="icon menu" height="30" width="40">

        <ng-template #slidded>
            <img src="/assets/icons/x.svg" alt="x menu" height="30" width="40">
        </ng-template>
    </div>
</div>

<div class="navbarList" *ngIf="navbarList">
    <div class="navbarList__title">

    </div>
</div>